doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="/css/style.css")
    title Books Details
  body
    p
    | #{book.title}
    p
    | #{book.author}

    p a(href='/') Back to Home